body{
    background-color: rgb(192, 123, 123);
    width: 100%;
    height: 100vh;
}
.navbar-brand:hover{
    background-color: rgb(24, 179, 199);
}

 table{
    visibility: hidden;
} 
#action{
    width: 60%;
    height: 80vh;
    background-color: rgb(59, 62, 228);
    position: relative;
    align-items: center;
    margin-top: -55%;
    margin-left: 27.5%;
    z-index: 1;
    display: none;  
    position: fixed;
    padding-left: 17%;
   
}

.pagination{
     display: flex;
     justify-content: center;
     align-items: center;
}

.pagination li{
    list-style: none;
    padding: 2px;
    margin: 10px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    color: #999;
}
.pagination li.active{
    background: #32d6aa;
    color: white;
    border: #32d6aa;
}

.pagination li a{
    text-decoration: none;
    color: inherit;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
}