body{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.container{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 20px 50px;  
    background:white;  
    border-radius: 15px ;  
      
} 


h1{
    text-align: center;
}

p{
    color: red;
}
